- var is_post = (current.path[0] == 'posts');
- var path = (is_post)? '../' : './';
- var post_path = (is_post)? './' : './posts/';
- var _data = public.posts._data;
- var sortable = (function(d){var a=[];for(e in d){a.push([e,parseInt(_data[e].order)])};return a;})(_data);
- var recent = sortable.sort(function(a,b){return a[0]-b[0]}).slice(0,5);

mixin post_photo(path)
	img(src='img/'+path, alt=path)

#index-post-list
	for e in recent
		- var data = _data[e[0]];
		- var file = e[0];
		- var categ = data.categories.split(',');

		#index-post
			#post_date= data.date
			h2#post_title= data.title
			#categories 
				span#categories-label categories:
				for item in categ
					span.category: a(href='#')= item

			#post_photo
				+post_photo(data.img)

			#post(class=file)
				script.
					Zepto(function($){
						$('#post.#{file}').load('posts/#{file}.html #post');
					});
					
